html, body, button {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}


.logo {
  margin: 0;
  background-color: #0b0b0b;
  margin: auto;
  height: 19%;
  width: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.vertical-center-flex {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.xycentered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 80%);
      -ms-transform: translate(-50%, 80%);
          transform: translate(-50%, 80%);
}

.left, .right {
  flex: 49;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  color: #edf2c2;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right p {margin: 0;}

.centerimg {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  flex: 2;
  margin: auto;
}

.content {
  background-size: cover;
  background-position: center center;
  /* position: relative; */
  margin: 0;
  height: 72%;
  width: 100%;
}

#launch {
  position: relative;
  width: 50vw;
  top: 12vh;
  font-family: 'Montserrat';
  font-weight: 900;
  text-align: center;
  font-size: 3vw;
  color: #ff7f2a;
  margin: 0;
  height: 6%;
  width: 100%;
}

.centerbutton {
  text-align: right;
  width: 100%;
}

.botao {
  background-color: #1a73e8;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: none;
  padding: 8px;
  border-radius: 5px;
  height: 36px;
  width: 320px;
  cursor: pointer;
  transition: .3s;
}

.botao:hover {
  background-color: #297be6;
  box-shadow: 0 0 12px 0 rgba(180, 194, 255, 0.4);
}

.top {
  background-color: #77a612;
  height: 4%;
  line-height: 6%;
  width: 100%;
  text-align: right;
  overflow: hidden;
}

.foot {
  background-color: #77a612;
  height: 6%;
  line-height: 6%;
  width: 100%;
  text-align: right;
  overflow: hidden;
}

.foot p, a {
  font-family: 'Baloo Chettan 2';
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0;
  padding-right: 12px;
  position: relative;
  top: 40%;
  /* -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%); */
}

/* ///////////////////////////////////////////////////////////////////////////////////////  Modal  */

.cortina {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #222; /*#5b4844;*/
  opacity: 0;
  transition: .4s ease-out;
  z-index: 950;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
  /* background-color: #555;
  background-color: rgba(190,190,190,0.7); */
  z-index: 997;
}

.modal-content {
  display: block;
  position: relative;
  background-color: #fefdff;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-fill-mode: both; /* assim modal consegue repetir a animação */
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s
  z-index: 998;
}


@-webkit-keyframes animatetop {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

.close1, .close2 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: white;
  float: right;
  cursor: pointer;
  margin: 10px 5px;
}

.close1:hover, .close2:hover {
  color: #000;
  text-decoration: none;
}

.modal-header {
  background-color: #77a612;
  color: white;
  padding: 2px 16px;
}

.modal-body { padding: 2px 16px; }

.modal-footer {
  background-color: #77a612;
  color: white;
  padding: 2px 16px;
}

.modal-thanks {
  display: none;
  padding: 0;
  position: relative;
  background-color: #fefdff;
  margin: auto;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-fill-mode: both; /*ufa agora modal consegue repetir a animação*/
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s
  z-index: 999;
}

#dummyframe {
  display: none;
  width: 0;
  height: 0;
  border: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////  modal Form  */

.test input[type=text], .test select {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px;
}

.posbutton {
  text-align: right;
  width: 100%;
}

.test .modalbutton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #1a73e8;
  color: white;
  width: 40%;
  min-width: 150px;
  padding: 6px 20px;
  margin: 0 0 16px;
  border: none;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
}

.test input[type=button]:hover, .test .modalbutton:hover {
  background-color: #297be6;
  box-shadow: 0 0 12px 0 rgba(0, 64, 255, 0.4);
}

.test p {
  margin: 6px;
}

.test input[type=text]:focus,
.test select:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

@media screen and (max-width: 780px) {
  .centerimg {width:280px;}
  .vertical-center-flex {display:block;}
  .middle {display:none;}
  .right p {position:relative; top:3vh;}
  #launch {font-size:24px;}
  .botao {width:280px;}
}

@media screen and (max-width: 550px) {
  .right {font-size:14px;}
  .foot {text-align:center;}
  .foot p {padding-right:0; font-size:14px;}
  .test p {margin: 4}
  .modal {padding-top: 20px}
  .test input[type=text], .test select {margin: 2px 0}
  .close1, .close2 {margin: 0px 5px}
  .modal-header h2 {margin: 5px 0px}
  .modal-footer {padding: 0px 16px}
}

@media screen and (max-width: 415px) {.right {font-size:10px;}}
